<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.react.pnld.mappers.PersonMapper">
    <cache/>
    <resultMap id="getTeacher" type="com.react.pnld.model.Teacher">
        <id property="rut" column="rut"/>
        <result property="name" column="nombre" />
        <result property="age" column="edad" />
        <result property="genderId" column="id_genero"/>
        <result property="email" column="correo"/>
        <result property="department" column="departamento" />
        <result property="teachesInLevels" column="dicta_en_niveles" />
        <result property="isTrainingApproved" column="capacitacion_aprobada" />
        <result property="trainingYear" column="anno_capacitacion" />
        <result property="attendsInPerson" column="asiste_jornada" />
        <result property="schoolRbd" column="rbd_colegio" />
    </resultMap>
    <select id="getTeacherByRut" resultMap="getTeacher" useCache="true">
        SELECT *
        FROM pnld.docente
        WHERE rut = #{rut};
    </select>

    <insert id="insertTeacher">
        INSERT INTO pnld.docente
        (rut, nombre, correo, id_genero, rbd_colegio, edad, departamento, dicta_en_niveles, capacitacion_aprobada,
         asiste_jornada, anno_capacitacion)
        VALUES
        (#{rut}, #{name}, #{email}, #{genderId}, #{schoolRbd}, #{age}, #{department}, #{teachesInLevels}, #{isTrainingApproved},
         #{attendsInPerson}, #{trainingYear});
    </insert>

    <select id="getNextPersonId" resultType="int">
        SELECT nextval(pg_get_serial_sequence('pnld.persona', 'id_persona'));
    </select>

    <select id="getNextTeacherId" resultType="int">
        SELECT nextval(pg_get_serial_sequence('pnld.docente', 'id_docente'));
    </select>

    <select id="checkIfEmailExists" resultType="boolean">
        SELECT exists(SELECT 1 FROM pnld.persona WHERE correo = #{email});
    </select>

    <update id="updateTeacher">
        UPDATE pnld.docente
        SET edad = #{age}, departamento = #{department}, dicta_en_niveles = #{teachesInLevels},
            capacitacion_aprobada = #{isTrainingApproved}, anno_capacitacion = #{trainingYear}, asiste_jornada = #{attendsInPerson}
        WHERE rut = #{rut}
    </update>


</mapper>