<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.react.pnld.mappers.QuestionnaireMapper">

    <select id="getDiagnosticQuestionnaireCount" resultType="int" parameterType="int">
        SELECT COUNT(id) FROM pnld.pnld.cuestionario_diagnostico WHERE id_docente = #{teacherId}
    </select>

    <insert id="insertDiagnosticQuestionnaire">
        INSERT INTO pnld.cuestionario_diagnostico
        (id, id_archivo_cargado, id_docente, id_respuesta, id_coleccion, fecha_creada, fecha_modificada, respuestas)
        VALUES
        (#{id}, #{loadedFileId}, #{teacherId}, #{respondentId}, #{collectorId}, #{createdDate}, #{modifiedDate}, #{answers}::json)
    </insert>

    <select id="getNextDiagnosticQuestionnaireId" resultType="int">
        SELECT nextval(pg_get_serial_sequence('pnld.cuestionario_diagnostico', 'id'))
    </select>

    <select id="getExitSatisfactionQuestionnaireCount" resultType="int" parameterType="int">
        SELECT COUNT(id) FROM pnld.pnld.cuestionario_salida WHERE id_docente = #{teacherId}
    </select>

    <select id="getNextExitSatisfactionQuestionnaireId" resultType="int">
        SELECT nextval(pg_get_serial_sequence('pnld.cuestionario_salida', 'id'))
    </select>

    <resultMap id="getSatisfactionQuest" type="com.react.pnld.model.SatisfactionQuestionnaire">
        <id property="id" column="id"/>
        <result property="loadedFileId" column="id_archivo_cargado"/>
        <result property="teacherRut" column="rut_docente"/>
        <result property="responseId" column="id_respuesta"/>
        <result property="sendDate" column="fecha_enviada"/>
        <result property="answers" column="respuestas"/>
        <result property="numberId" column="numero_id"/>
        <result property="course" column="curso"/>
        <result property="group" column="grupo"/>
    </resultMap>
    <select id="getSatisfactionQuestByRut" resultType="getSatisfactionQuest">
        SELECT *
        FROM pnld.cuestionario_satisfaccion
        WHERE rut = #{teacherRut}
    </select>

    <insert id="insertExitSatisfactionQuestionnaire">
        INSERT INTO pnld.cuestionario_salida
        (id, id_archivo_cargado, rut_docente, id_respuesta, fecha_enviada, respuestas, numero_id, curso, grupo)
        VALUES
        (#{id}, #{loadedFileId}, #{teacherRut}, #{responseId}, #{sendDate}, #{answers}::json, #{numberId}, #{course}, #{group})
    </insert>

</mapper>