<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.react.pnld.mappers.TeacherMapper">
    <cache/>
    <resultMap id="teacher" type="com.react.pnld.model.Teacher">
        <id property="id" column="id"/>
        <result property="firstName" column="nombre" />
        <result property="paternalLastName" column="apellido_paterno" />
        <result property="maternalLastName" column="apellido_materno" />
        <result property="rut" column="rut" />
        <result property="email" column="correo"/>
        <result property="genderId" column="id_genero" />
    </resultMap>

    <select id="getTeacher" resultMap="teacher" useCache="true">
        SELECT * FROM pnld.docente WHERE rut = #{rut} AND correo = #{email};
    </select>

    <insert id="insertTeacher">
        INSERT INTO pnld.docente
            (id, nombre, apellido_paterno, apellido_materno, rut, correo, id_genero)
        VALUES
            (#{id}, #{firstName}, #{paternalLastName}, #{maternalLastName}, #{rut}, #{email}, #{genderId});
    </insert>

    <select id="getNextTeacherId">
        SELECT nextval(pg_get_serial_sequence('pnld.docente', 'id'));
    </select>

</mapper>