<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.react.pnld.mappers.TestMapper">
    <cache/>

    <select id="getNextTrainingTestId" resultType="int">
        SELECT nextval(pg_get_serial_sequence('pnld.test_capacitacion', 'id'));
    </select>

    <resultMap id="getTrainingTest" type="com.react.pnld.model.TrainingTest">
        <id property="id" column="id"/>
        <result property="type" column="tipo" />
        <result property="loadedFileId" column="id_archivo_cargado" />
        <result property="teacherId" column="id_docente" />
        <result property="initDate" column="fecha_inicio" />
        <result property="endDate" column="fecha_fin" />
        <result property="requiredInterval" column="tiempo_requerido"  javaType="java.lang.Object"/>
        <result property="state" column="estado" />
        <result property="score" column="calificacion" />
        <result property="answers" column="respuestas"/>
    </resultMap>
    <select id="getTrainingTest" resultMap="getTrainingTest">
        SELECT *
        FROM pnld.test_capacitacion
        WHERE id_docente=#{teacherId} AND tipo=#{testType}
    </select>
    
    <insert id="insertTrainingTest" useGeneratedKeys="true">
        INSERT INTO pnld.test_capacitacion
            (id, tipo, id_archivo_cargado, id_docente, fecha_inicio, fecha_fin, tiempo_requerido, estado, calificacion,
             respuestas)
        VALUES 
            (#{id}, #{type}, #{loadedFileId}, #{teacherId}, #{initDate}, #{endDate}, #{requiredInterval}, #{state},
             #{score}, #{answers});
    </insert>
</mapper>