<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.react.pnld.mappers.TrainingIndicatorMapper">

    <cache/>

    <resultMap id="trainingInstitution" type="com.react.pnld.dto.TrainingInstitutionIndicatorDTO">
        <id property="id" column="id_region"/>
        <result property="year" column="anno_capacitacion"/>
        <result property="regionName" column="nombre_region" />
        <result property="institutionNumberPNLD" column="cantidad_colegio" />
    </resultMap>

    <select id="participantInstitutionNumberPNLD" resultMap="trainingInstitution">
        SELECT d.anno_capacitacion, COUNT(p.id_colegio) AS cantidad_colegio, r.id AS id_region, r.nombre AS nombre_region
        FROM pnld.docente AS d
            JOIN pnld.persona AS p ON d.id_persona = p.id_persona
            JOIN pnld.colegio AS c ON p.id_colegio = c.id
            JOIN pnld.region AS r ON c.id_region = r.id
        WHERE d.anno_capacitacion BETWEEN #{fromYear} AND #{toYear} GROUP BY r.nombre, r.id, d.anno_capacitacion ORDER BY r.id
    </select>

</mapper>