<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.react.pnld.mappers.TrainingTeacherIndicatorMapper">

    <cache/>

    <resultMap id="trainingTeacherDataByTeacher" type="com.react.pnld.dto.TrainingTeacherIndicatorDataByTeacherDTO">
        <result property="year" column="anno_capacitacion" />
        <result property="gender" column="genero" />
        <result property="trainingState" column="capacitacion_aprobada"/>
        <result property="assistanceState" column="participo_en_pnld"/>
    </resultMap>

    <resultMap id="trainingTeacher" type="com.react.pnld.dto.TrainingTeacherIndicatorDTO">
        <id property="id" column="id_region"/>
        <result property="regionName" column="nombre_region" />
        <collection property="trainingTeacherIndicatorDataByTeacherDTOList" resultMap="trainingTeacherDataByTeacher"/>
    </resultMap>

    <select id="trainingTeacherData" resultMap="trainingTeacher">
        SELECT d.anno_capacitacion, d.capacitacion_aprobada, d.participo_en_pnld, g.tipo AS genero, r.id AS id_region, r.nombre AS nombre_region
        FROM
            pnld.docente AS d
                JOIN
            pnld.genero AS g
                ON d.id_genero = g.id
                JOIN
            pnld.colegio AS c
                ON d.rbd_colegio = c.rbd
                JOIN
            pnld.region AS r
                ON c.id_region = r.id
        WHERE d.anno_capacitacion BETWEEN #{fromYear} AND #{toYear}
        ORDER BY r.id asc
    </select>

</mapper>

