.filesTableContainer{
    height: 440px;
}

.filesTable {
    margin: auto;
}

.filesTableHeader {
    margin-bottom: 2%;
    margin-left: 25%;
}


div.filesTableContainer .filesTable,
div.filesTableContainer th,
div.filesTableContainer td {
  border-collapse: collapse;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

.emptyTableMsg {
    text-align: center;
    margin-top: 120px;
    font-size: 30px;
}