.dimensionHeaderContainer{
    text-align: center;
    margin: 35px auto;
    width: 1090px;
    line-height: 30px;
}

.dimensionTitle {
    background-color: #c2ffb6;
    height: 30px;
    width: 100%;
    margin: auto;
    font-size: 20px;
}

.dimensionContainer{
    display: flex;
    justify-content: space-evenly;
}

.dimension{
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 5px;
    width: 350px;
    height: 30px;
    line-height: 30px;
    margin-top: 1%;
}

.indicatorContainer{
    display: flex;
    justify-content: space-around;
}