body{
    margin: 0;
}
.header {
    display: flex;
    width: 100%;
    margin-top: 10px;
}

.logoMineduc {
    width: 15vw;
    height: 12vw;
    margin-left: 2vw;
}

.title {
    font-size: 4vw;
    display: flex;
    align-items: center;
    margin-left: 25%;
}

.logout {
    margin: 20px 100px auto auto;
    color: black;
    background-color: #ED0101;
    border-radius: 4px;
    text-decoration-line: none;
    padding: 12px;
}