body{
    margin: 0;
}
.banner {
    display: flex;
    width: 100%;
    margin-top: 2vw;

}

.title {
    font-size: 4vw;
    display: flex;
    align-items: center;
    margin-left: 25%;
}

.logo_mineduc {
    /*border: 1px solid black*/;
    border-radius: 25px;
    width: 15vw;
    height: 12vw;
    margin-left: 2vw;
}

.files_table_container {
    margin-left: 25%;
    margin-bottom: 2%;
    margin-top: 2%;
}

.files_table_header {
    display: flex;
}

table{
    /*border-collapse: separate !important;*/
    border-collapse: collapse;
    /*border-spacing: 0;
    border: 1px solid #ccc;*/
    /*border-radius: 10px;*/
}

th, td {
  border: 1px solid black;
  padding: 10px;
}

.files_table_title {
    font-size: 25px;
    margin-bottom: 10px;
}

.pagination {
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
}

.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}


/* ===  DESDE AQUI ESTILOS PARA EL FORMULARIO CARGA DE ARCHIVO ===*/

/* Style inputs, select elements and textareas */


input[type=text], select{
  width: 100%;
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;

}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
  margin-left: 50%;
  margin-top: 2%;
}

/* Style the container */
.form_container {
  margin-right: 20%;
  margin-left: 20%;
  border-radius: 5px;
  padding: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.drag_drop {
    height:200px;
    border: 2px solid #ccc;
    border-radius: 4px;
    border-style: dashed;
    text-align: center;
    padding-top: 25%;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}