@media screen
and (min-width: 801px)
and (max-width: 826px){

    .col-25, .col-75 {
        width: 100%;
      }

    label {
      width: 100%;
    }

    #btSubmitForm {
        margin-left: 40%;
    }
}

@media screen and (max-width: 800px) {

  .col-25, .col-75 {
    width: 100%;
    margin-top: 0;
  }

  #btSubmitForm {
    margin-left: 40%;
  }

  .filesTableContainer {
      margin-left: 12.5%;
  }

  .filesTableHeader {
      margin-top: 5%;
  }

  .pagination {
    margin-top: 4%;
  }

  .pagination a {
    padding: 8px 4px;
  }
}